environment         = "staging"
location            = "westeurope"
project_name        = "django-azure"
owner_email         = "your@email.com"
tenant_id           = "your-tenant-id"
db_password         = "YourSecurePassword123!"
django_secret_key   = "your-django-secret-key-min-50-chars"
azure_client_id     = "your-entra-app-client-id"
azure_client_secret = "your-entra-app-client-secret"
